<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token%}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Enter the Email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter the Password">
        <label for="confirmPassword">confirmPassword</label>
        <input type="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Enter the confirmPassword">
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>